html {
    scroll-behavior: smooth;
}

.blue-bg {
    background-color: #e6edfa;
}

.main-font {
    font-family: "Jost", sans-serif;
}

.hero-image {
    aspect-ratio: 7 / 6;
    width: 100%;
    object-fit: cover;
    top: 0;
    z-index: 0;
    object-position: 100%;
    max-height: 92vh;
}

.header-gradient-white {
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(230, 237, 255, 0.75) 100%);
    z-index: 1;
    width: 100%;
    height: 72px;
}

.hero-gradient-black {
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5) 20%,
            rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 50px;

    @media (width >= 64rem) { 
        background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.7) 50%,
            rgba(0, 0, 0, 0) 100%);
        height: 350px;
    }
}

nav {
    z-index: 1000;
}

#nav-menu {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2rem;
    top: 2rem;
    right: 3.5rem;

    @media (width < 48rem) {
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        padding: 24px;
        padding-left: 48px; 
        padding-top: 60px;
        top: 0;
        right: -400px;
        height: 100vh;
        transition: right .2s;
    }
}

#nav-menu.open {
    @media (width < 48rem) {
        right: 0;
    }
}

.content-section {
    max-width: 1200px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.hero-text {
    position: absolute;
    bottom: 24px;
    left: 0;
}

.photo-credit {
    position: absolute;
    bottom: 12px;
    right: 12px;

    @media (width < 48rem) {
        bottom: 4px;
    }
}

.about-photo {
    object-position: top;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    max-height: 400px;
    @media (width >= 48rem) { 
        width: 30%;
    }
}

.endorsement-photo {
    background-color: #ccc;
    border-radius: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;

    min-width: 240px;
    min-height: 240px;
    
    @media (width < 48rem) {
        min-width: 100px;
        min-height: 100px;
    }
}

.endorsement-grid {
    margin-top: 48px;
    display: grid;
    grid-gap: 60px;

    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    @media (width < 48rem) {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

.faq-answer {
    margin-left: 24px;
  }

  .closed .faq-answer {
    display: none;
  }

  .faq-question-icon {
    font-size: 20px;
    min-width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .faq-question-icon::before {
    content: "-";
  }

  .closed .faq-question-icon::before {
    content: "+";
  }